{% extends 'base.html' %}
{% load static %}
{% block title %}API Submissions{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>API Submissions</h2>
    {% if submissions %}
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th>Edit</th>
                <th>IP / FQDN</th>
                <th>Submitted By</th>
                <th>Date (UTC)</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
            <tr>
                {% comment %} <td><a href="{% url 'app:review_submission' submission.id %}">{{ submission.id }}</a></td> {% endcomment %}
                <td><a href="{% url 'app:review_submission' submission.id %}"><img class="icon action-items" src="{% static 'images/edit.svg' %}" alt="Edit"></a></td>
                <td>{% for ip_fq in submission.fqdn_list %} {{ ip_fq }}<br> {% endfor %}</td>
                <td>{{ submission.user_email }}</td>
                <td>{{ submission.submitted_at }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Submissions</p>
    {% endif %}
</div>
{% endblock %}
