{% extends 'base.html' %}
{% load static %}
{% block title %}API Submissions{% endblock %}
{% block content %}
<div class="content-card">
    <h3>API Submissions</h3>
    {% if submissions %}
    <table class="table table-hover mt-3">
        <thead>
            <tr>
                <th>Edit</th>
                <th>IP / FQDN</th>
                <th>Submitted By</th>
                <th>Date (UTC)</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
            <tr>
                <td><a href="{% url 'app:review_submission' submission.id %}"><img class="icon action-items" src="{% static 'images/edit.svg' %}" alt="Edit"></a></td>
                <td>{% for ip_fq in submission.fqdn_list %} {{ ip_fq }}<br> {% endfor %}</td>
                <td>{{ submission.submitted_by.email|default:"Unknown" }}</td>
                <td>{{ submission.submitted_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-muted mt-3">No submissions.</p>
    {% endif %}
</div>
{% endblock %}
