/* style.css */

.actions-column {
    width: 250px; /* Adjust this width as needed */
    position: relative; /* For positioning the confirmation icon */
}

.blur-text {
    filter: blur(5px);
    user-select: none;
}

.unblur-text {
    filter: none;
    user-select: all;
}

.action-items {
    cursor: pointer; 
}

.btn-light-green {
    background-color: #90EE90 !important;
    color: #fff;
    border: none; 
}

.btn-light-green:hover {
    background-color: #09f815 !important;
}

#plus-container {
    position: absolute;
    top: 62px;
    right: 40px;
}

#plus-icon {
    width: 24px;
    height: 24px;
}

.tooltip {
    position: fixed;
    background-color: rgba(127, 121, 121, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    pointer-events: none;
    z-index: 9999;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

body.dark-mode {
    color: #f2f2f2;
    background-color: #121212;
}

.list-container {
    margin: 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.list-item {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.friendly-name {
    flex: 2;
    font-weight: bold;
}

.url {
    flex: 4;
}

.preview {
    flex: 6;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}


.form-group label {
    font-weight: bold;
}

.badge.bg-danger.icon-circle {
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 10px;
    background-color: red;
    color: white;
  }
  